<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   	 <configSections>
	        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
          <section name="securitySettings"
type="System.Configuration.NameValueSectionHandler"/>
          <section name="mailSettings"
type="System.Configuration.NameValueSectionHandler"/>
          <section name="jabberSettings"
type="System.Configuration.NameValueSectionHandler"/>
       <section name="cacheSettings" 
                type="System.Configuration.NameValueSectionHandler"/>
     </configSections>
  <appSettings>
    
		<add key="AppName" value="星图办公系统" />
		<add key="DefaultBox" value="在办箱" />
    <add key="WaitUI" value="SkyMap.Net.Gui.WindowsWaiUI"/>
	</appSettings>

  <securitySettings >
    <!--设置加密算法是采用.NET下算法还是VB的COM类算法,值可为NET,VB -->
    <add key="Security" value="NET" />
    <!--是否采用证书进行安全登录-->
    <add key="SecurityLogin" value="false" />
    <!-- 采用证书登录时证书的存储区域，可以是本机安装的证书或智能卡上存放的证书，但都必须有关联的私钥 -->
    <!--<add key="CAPICOM_STORE_LOCATION" value="CAPICOM_SMART_CARD_USER_STORE" />
		<add key="StoreName" value="XT-LCG" />-->
  </securitySettings>

  <mailSettings>
    <!--设定Smtp主机-->
    <add key="SmtpHost" value="smtp.126.com"/>
    <add key="SmtpAuth" value="true"/>
    <add key="SmtpUser" value="linwinfan"/>
    <add key="SmtpPwd" value="linwinfan"/>
    <add key="From" value="linwinfan@126.com"/>
    <!--设定POP3主机-->
    <add key="POP3Host" value="192.168.1.3"/>
    <!--设定POP3Interval-->
    <add key="POP3Interval" value="60000"/>
    <!--设定WebMail访问地址-->
    <add key="WebMail" value="http://192.168.1.90:8080/login.aspx"/>
  </mailSettings>

  <jabberSettings>
    <!--Jabber服务的相关设置-->
    <add key="JabberServer" value="61.142.67.27"/>
    <add key="JabberPort" value="5222"/>
    <add key="UseSSL" value="false"/>
  </jabberSettings>
  
	<!-- This section contains the log4net configuration settings -->
	<log4net debug="false">

		<!-- Define some output appenders -->	

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
			
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="MaxSizeRollBackups" value="2" />
			<param name="MaximumFileSize" value="100KB" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default priority -->
		
		<root>
			<priority value="DEBUG" />
			<appender-ref ref="rollingFile" />
		</root>

	</log4net>

</configuration>

