<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppraiseMethod.Properties.Settings.gujiaConnectionString"
            connectionString="Data Source=192.168.1.2;Initial Catalog=gujia;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>